*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}
.App {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 738px;
  height: 61px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #36006c;
  font-size: 50px;
}

.description {
  width: 754px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.54;
  font-size: 21px;
  margin: 43px 0 0 0;
}

.select-text {
  width: 197px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  font-size: 21px;
  margin: 35px 0 0 0;
}

.button-group {
  display:flex;
  flex-direction: row;
  margin: 41px 0 0 0;
}

.button {
  width: 240px;
  height: 273px;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.button:hover, .button:focus {
  background: #f8f8f8 0% 0% no-repeat padding-box;
}

.button-image {
  width:64px
}

.button-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 26px 0 33px 0;
  color: #36006C;
}